{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
Calculator
{% endblock page_title %}



{% block content %}
<div class="page ">
    <div class="container-tight ">

        <div class="card card-md">
            <div class="card-body text-center py-4 p-sm-5">
                {% if price %}
                <h1 class="">{{price}} DHS</h1>

                {% endif %}
                <h2 class="mt-3">EDGE Calculator!</h1>
                    <p class="text-muted">This is your fancy edge calculator with so many cool things you can do with
                        it!</p>
            </div>
            <div class="hr-text hr-text-center hr-text-spaceless">Component list</div>
            <div class="card-body">


                <form id="bike-form" action="." method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-4">

            </div>
            <div class="col">
                <div class="btn-list justify-content-end">

                    <input type="submit" class="btn btn-primary" name="accept_components" value="Continue" />
                    </form>
                </div>
            </div>
        </div>



        {% endblock content %}

        {% block inline_javascript %}
        <script>
            window.addEventListener('DOMContentLoaded', () => {


                $(function () {
                    $("#bike-form").change(function () {
                        $("form").submit();
                    });
                });

            });
        </script>
        {% endblock inline_javascript %}
