{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Empty page
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <!-- Content here -->
            <form id="bike-form" action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit">
            </form>

        </div>
    </div>
</div>


{% endblock content %}
