{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
Calculator
{% endblock page_title %}

{% block content %}


            <form id="bike-form" action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="accept_components" value="Order" />
            </form>



{% endblock content %}

{% block inline_javascript %}
<script>
    window.addEventListener('DOMContentLoaded', () => {


        $(function () {
            $("#bike-form").change(function () {
                $("form").submit();
            });
        });

    });
</script>
{% endblock inline_javascript %}
