{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
User Form
{% endblock page_title %}

{% block page_action %}
<!-- Page title actions -->
<a  class="btn btn-primary" href="{% url 'calculator:calculator' %}">
    <!-- Download SVG icon from http://tabler-icons.io/i/arrow-back -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
    </svg>
    Restart
</a>

{% endblock page_action %}

{% block content %}
<div class="page">
    <div class="container-tight ">

        <div class="card card-md">

            <form id="bike-form" action="/calculator/user" method="post">
                <div class="card-body">


                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-4">

            </div>
            <div class="col">
                <div class="btn-list justify-content-end">

                    <input type="submit" class="btn btn-primary" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
